/*	fonts ---------------------------------- */
/* overpass-300normal - latin */
@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 300;
	font-display: fallback;
	src:
		local('Overpass Light '),
		local('Overpass-Light'),
		url('fonts/overpass/overpass-latin-300.woff2') format('woff2');
}

/* overpass-600normal - latin */
@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 600;
	font-display: fallback;
	src:
		local('Overpass Bold '),
		local('Overpass-Bold'),
		url('fonts/overpass/overpass-latin-600.woff2') format('woff2');
}

/* fira-mono-400normal - latin */
@font-face {
	font-family: 'Fira Mono';
	font-style: normal;
	font-weight: 400;
	font-display: fallback;
	src:
		local('Fira Mono Regular '),
		local('Fira Mono-Regular'),
		url('fonts/fira-mono/fira-mono-latin-400.woff2') format('woff2');
}

body {
	margin: 0;
	font-family: Overpass;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Overpass;
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}